.AboutContainer{
    display: grid;
    grid-template-columns: 60% 40%;
}
.left{
    display: block;
}

/* style={{ fontSize: '1.5em',color:"white",display:"flex" ,flexDirection:"column" ,alignItems:"center",marginBottom:"8rem" }} */

@media screen and (max-width:640px) {
    .AboutContainer{
        display: block;
        /* grid-template-columns: repeat(1,fr); */
      
    }
}